@charset 'utf-8';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

:root {
  font-size: 62.5%;
  --main-color: #ffa200;
  --main-color-orange: #ff6428;
  --title-color: #000;
  --text-color: #666;
  --white: #fff;
  --bd: #888;
}

img {
  max-width: 100%;
  /* 아무리 커져도 본인 크기까지만 */
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: var(--main-color-orange);
}
hr,
.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
body {
  font: 1.6rem/1.5 'Pretendard', sans-serif;
  color: var(--title-color);
  word-break: keep-all;
  overflow-x: hidden;
}
.inner {
  width: 159.8rem;
  margin: 0 auto;
  /* background: rgba(255, 255, 0, 0.3); */
}

/* 헤더 */
header {
  background: #fff;
  /* background: #55f; */
  /* color: #fff; */
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s; */
  /* z-index: 10; */
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  /* background: #5f5; */
}

.logo a {
  position: relative;
  /* a까지 선택자 잡아야 전체 링크됨 (클릭 공간)*/
  display: block;
  width: 15rem;
  height: 5.4rem;
  background: url(../img/스타쉽엔터테인먼트_CI.svg) no-repeat 50% / contain;
}
/* header.active .logo a {
  background-image: url(../img/logo-dark.svg);
} */
.gnb {
  display: flex;
  margin-left: auto; /* 왼쪽영역을 쭉 밀음... (오른쪽으로 밀려남) 스스로 정렬 */
  /* background: #ff5; */
  z-index: 10;
}
.gnb > li > a {
  display: block;
  /* padding: 0 3rem; */
  font-weight: 500;
  font-size: 1.8rem;
  /* border: 1px solid #000; */
  /* padding: 10px 40px; */
  /* width: 21rem; */
  margin-left: 7rem;
  text-align: center;
}
.gnb > li {
  position: relative;
}

/* 헤더 e */

.sec-title {
  font-weight: 700;

  text-align: center;
  font-size: 4.5rem;
}
/* .sec-tit-wrap {
  position: relative;
} */
.btn-more {
  display: block;

  width: 102px;
  height: 4rem;

  margin-left: auto;
  margin-right: 7.8rem;
  margin-top: 1.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
  gap: 12px;
  position: relative;
}
/* .light {
  display: block;
  background: #ff6c6c;

  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: relative;
}

.light::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f00;
  border-radius: 50%;
  width: 13px;
  height: 13px;
} */

.light {
  width: 13px;
  height: 13px;
  background-color: #f00;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 80px;
  right: 0;
  bottom: 0;
  animation: onair_wave 2s ease-out infinite;
}

@keyframes onair_wave {
  0% {
    box-shadow: 0 0 0 0 rgba(225, 0, 0, 1);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(225, 0, 0, 0);
  }
}

/* 비주얼 */
.visual {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* background-color: #ff5; */

  position: relative;
  margin-top: 100px;
}
.visual .video {
  width: 100%;

  aspect-ratio: 16/9;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 0 auto;
}
.visual .video video {
  width: 100%;
  height: 100%;
  border: none;
}

/*e 비주얼 */

/* 아티스트 */
.artist {
  /* background: #f55; */
  text-align: center;
  overflow: hidden;
  /* margin-top: 300px; */
  position: relative;
  /* margin-top: 28rem; */
  padding: 9rem 0;
}

.artist-list figure img {
  border-radius: 50%;
}

.artist-slider .swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.artist-slider-wrap {
  margin-top: 4rem;
  margin-top: 9rem;
}

.artist-slider .swiper-slide {
  flex: 0 0 auto;
  /* filter: grayscale(1); */
  transform: scale(0.45);
  transition: 0.4s;
  height: 100%;

  /* margin: 0 11px; */
}
.artist-slider .swiper-slide-active {
  /* filter: grayscale(0); */
  transform: scale(1);
  position: relative;
  /* ddd */
  /* width: 696px !important; */
  /* width: 454px !important; */
  text-align: center;
  display: flex;
  justify-content: center;
  /* !!! */
  /* margin-left: 80px; */

  /* margin: 0 12rem !important; */
}
.artist-slider .swiper-slide-active .artist-con {
  display: block;
}

.artist-list figure {
  width: 100%;
}

.artist-con {
  /* padding: 6.9rem; */
  width: 100%;
  text-align: center;
  display: none;
}

.artist-con h4 {
  font-weight: 500;
  font-size: 3rem;
  margin-top: 2.3rem;
}
.artist-con strong {
  font-weight: 400;
  font-size: 2rem;
  margin-top: 11px;
  color: var(--main-color);
}
.artist-con p {
  font-weight: 300;
  font-size: 1.5rem;

  margin-top: 2.5rem;
}

.artist-slider-wrap button {
  position: absolute;
  width: 4rem;
  height: 4rem;
  /* border: 1px solid #000; */
  background: no-repeat 50% / contain;
  z-index: 1;
  top: 50%;
  display: flex;
  transition: 0.4s;
}

.artist-slider .btn-prev {
  left: calc(50% - 454px); /* 중앙 슬라이드 왼쪽에 배치 */
  /* left: 10%; */
  background-image: url(../img/btn-prev.svg);
}

.artist-slider .btn-next {
  right: calc(50% - 454px); /* 중앙 슬라이드 왼쪽에 배치 */
  /* right: 10%; */
  background-image: url(../img/btn-next.svg);
}
/*e 아티스트 */

/* 뉴스 */
.news {
  /* background: yellowgreen; */
  padding: 9rem 0;
}
.news-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;

  flex-wrap: wrap;
}
.news-list li {
  border: 1px solid var(--bd);
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 78.5rem;
  /* height: 41.4rem; */

  /* flex: 0 1 49%; */
  /* 785/1598*100 */
  /* aspect-ratio: 1/0.5273885350318471; */

  /* 414/785 */

  gap: 4.1rem;
  border-radius: 5px;
  padding: 4rem;
  padding: 3rem 4rem 3rem 4rem;
}
.news-list li .con {
  width: 27.9rem;
}
.news-list li .con dl dt {
  font-size: 2.8rem;
  font-weight: 600;
}
.news-list li .con dl dd {
  font-size: 1.8rem;
  line-height: 160%;
  color: #494949;
  margin-top: 3.6rem;
  /* color: var(--text-color); */
}
.news-list li .con .con-bottom {
  margin-top: 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news-list li .con .con-bottom button {
  width: 5.2rem;
  height: 5.2rem;

  background: url(../img/ion_rocket-sharp.svg) no-repeat 50% 50% / contain;
}
/*e 뉴스 */

/*멀티미디어 */
.multimedia {
  /* background: coral; */
  padding: 9rem 0;
  text-align: center;
}
.video-wrap {
  width: 100%;
  max-width: 1056px;
  /* background: #55f; */
  aspect-ratio: 16/9;
  margin: 4rem auto 0 auto;
}
.video-wrap .video,
.video-wrap .video iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.video-wrap .caption {
  font-size: 2.5rem;
  margin-top: 3.5rem;
}
/*e 멀티미디어 */

/*앨범 */
.album {
  background: #000;
  color: #fff;
}
.album .inner {
  overflow: hidden;
}
/* .album-list {
  border: 1px solid #55f;
  width: 514px;
} */

.album {
  position: relative;
  /* margin-top: 28rem; */
  padding: 9rem 0;
}
.album-slider-wrap {
  margin-top: 9rem;
}
.album-slider .swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.album-slider .swiper-slide {
  flex: 0 0 auto;
  filter: grayscale(1);
  transform: scale(0.7);
  transition: 0.4s;
}
.album-slider .swiper-slide-active {
  filter: grayscale(0);
  transform: scale(1);
}
.album-slider .swiper-slide-active .album-con {
  display: block;
}

.album-list figure {
  width: 100%;
}

.album-con {
  /* padding: 6.9rem; */
  width: 100%;
  text-align: center;
  display: none;
}

.album-con h4 {
  font-weight: 600;
  font-size: 1.7rem;
  margin-top: 2rem;
}
.album-con strong {
  font-weight: 400;
  font-size: 2rem;
  margin-top: 7px;
}
.album-con p {
  font-weight: 300;
  font-size: 1.5rem;

  margin-top: 2.5rem;
  color: #b8b8b8;
}

.album-slider-wrap button {
  position: absolute;
  width: 4rem;
  height: 4rem;
  /* border: 1px solid #000; */
  background: no-repeat 50% / contain;
  z-index: 1;
  top: 50%;
  display: flex;
  transition: 0.4s;
}

.album-slider .btn-prev {
  left: 10%;
  background-image: url(../img/btn-prev.svg);
}

.album-slider .btn-next {
  right: 10%;
  background-image: url(../img/btn-next.svg);
}
/*e 앨범 */

/* 스타쉽 스퀘어 */
.starship-square {
  /* background: skyblue; */
  padding: 9rem 0;
}
.product-list {
  margin-top: 6.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.product-list li {
  /* border: 1px solid #000; */
  width: 37.7rem;
  padding: 0 38.5px 0 38.5px;
  position: relative;
}
.product-list li .badge {
  position: absolute;
  top: 15px;
  right: 53px;
  background: var(--main-color);
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  padding: 4px 12px;
}
.product-list li .badge.hit {
  background: var(--main-color-orange);
  color: #fff;
}
.product-list li .info {
  margin-top: 1.7rem;
  font-size: 1.6rem;
  font-weight: 600;
}
.product-list li .info span {
  display: block;
  margin-top: 1.7rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.product-list li .info p {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--text-color);
}
/*e 스타쉽 스퀘어 */

/*푸터 */
#footer {
  background: var(--main-color);
  padding: 70px 0 90px 0;
  /* line-height: 1; */
}
.foot-wrap {
  display: flex;
  justify-content: space-between;
}
.text-wrap {
  display: flex;
  gap: 11.6rem;
  /* font-weight: 500; */
  font-size: 1.5rem;
}
.text-wrap .foot-con p span {
  display: block;
  margin-top: 3px;
}
.text-wrap .foot-con p:nth-child(2) {
  margin-top: 6.2rem;
}
.text-wrap .foot-con p:last-child {
  margin-top: 4rem;
  opacity: 0.5;
}
.foot-wrap strong {
  display: block;
  background: url(../img/스타쉽엔터테인먼트_CI.svg) no-repeat 50%;
  width: 25rem;
  height: 9rem;
  /* height: 16.4rem; */
}
.foot-wrap ul li {
  line-height: 1;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 5rem;
}
/*e 푸터 */

/* .inner 크기에 맞는 분기점 추가 */
@media (max-width: 1598px) {
  .inner {
    width: 90.4rem;
    width: 88.28125%;
    /* 904/1024*100 */
    /* background: lightblue; */
  }
}

@media (max-width: 1024px) {
  .gnb {
    display: none;
  }

  .btn-more {
    margin-right: 0;
  }
  .news-list li {
    width: 100%;
    padding: 3rem;
  }

  .news-list li .pic {
    /* width: 15.4rem; */
    width: 40%;
  }
  .news-list li .con {
    width: 60%;
  }

  .foot-wrap {
    flex-direction: column;
  }

  .foot-wrap ul {
    margin-top: 9.6rem;
  }
  .text-wrap {
    justify-content: space-between;
  }
}

@media (max-width: 800px) {
  .news-list li .pic {
    width: 50%;
  }
  .news-list li .con {
    width: 14.3rem;
    width: 50%;
  }
  .news-list li .con dl dd {
    height: 8rem;
    overflow: hidden;
    margin-top: 1.6rem;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* 표시할 줄 수 */
    word-wrap: break-word;
    text-overflow: ellipsis;
  }
  .news-list li .con .con-bottom {
    margin-top: 2.5rem;
  }
}

@media (max-width: 500px) {
  .sec-title {
    font-size: 3rem;
  }
  .btn-more {
    font-size: 1.7rem;
    width: 7rem;
    gap: 7px;
  }
  .light {
    width: 16px;
    height: 16px;
    left: 60px;
  }
  .light::after {
    width: 8px;
    height: 8px;
  }
  .artist-con h4 {
    font-size: 2rem;
  }
  .artist-con strong {
    font-size: 1.5rem;
  }
  .news-list li {
    padding: 2rem;
    /* width: 36rem; */
    height: 19.6rem;
    gap: 2rem;
  }
  /* .news-list li .pic {

    width: 50%;
  }
  .news-list li .con {
    width: 14.3rem;
    width: 50%;
  } */
  .news-list li .con dl dt {
    font-size: 1.8rem;
  }
  .news-list li .con dl dd {
    font-size: 1.5rem;

    height: 7rem;
    overflow: hidden;
    margin-top: 1rem;
  }
  .news-list li .con .con-bottom {
    margin-top: 5px;
    font-size: 13px;
  }
  .news-list li .con .con-bottom button {
    width: 2.5rem;
    height: 2.5rem;
  }

  .video-wrap .caption {
    margin-top: 2rem;
    font-size: 1.8rem;
  }

  .album-slider-wrap {
    margin-top: 5.3rem;
  }
  .album-list figure {
    width: 100%;
    width: 260px;
    margin: 0 auto;
  }
  .album-con h4 {
    font-size: 1.6rem;
  }
  .album-con strong {
    font-size: 1.8rem;
  }
  .album-con p {
    font-size: 1.3rem;
  }

  /* .foot-wrap {
    flex-direction: column;
  } */
  .text-wrap {
    flex-direction: column;
  }
  .foot-wrap ul {
    margin-top: 10rem;
  }
  .foot-wrap strong {
    width: 16.2rem;
    height: 5.8rem;
  }
}
