@charset 'utf-8';
/* s 아티스트 페이지 */
.artist-page {
  padding: 17.2rem 0;
}

.sec-title {
  font-weight: 700;

  text-align: center;
  font-size: 4.5rem;
}
.member .sec-title {
  text-align-last: left;
}

.artist-page-list {
  margin-top: 3.2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.artist-page-list li {
  margin-top: 6rem;
  width: calc(25% - 20px);
  margin-bottom: 50px;
}

.img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* overflow 속성을 추가하여 자식 요소의 내용이 img-container를 벗어나지 않도록 설정 */
}

.img-container img {
  width: 100%;
  height: auto;
}

.img-container figcaption {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 1rem;
  text-align: left;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  /* background: rgba(255, 162, 0.5); */
  background: var(--main-color-orange);

  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease, height 0.5s ease, opacity 0.5s ease;
}

/* .view-text {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  display: none;
} */

/* .artist-page-list li:hover .overlay {
  width: 200%;
  height: 200%;
  opacity: 1;
  opacity: 0.8;
} */

/* .artist-page-list li:hover .view-text {
  display: block;
  opacity: 1;
} */

.artist-page-list li {
  position: relative; /* li 요소를 relative로 설정하여 하위 요소들의 절대 위치를 상대적으로 설정할 수 있게 함 */
}

.view-text {
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: wobble-hor-bottom 1s 0.8s both infinite;
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1); /* transform의 scale 속성을 추가하여 크기 변화가 없도록 함 */
  }
  15% {
    transform: translate(-50%, -50%) scale(1) rotate(-6deg); /* rotate 속성은 유지되도록 설정 */
  }
  30% {
    transform: translate(-50%, -50%) scale(1) rotate(6deg); /* rotate 속성은 유지되도록 설정 */
  }
  45% {
    transform: translate(-50%, -50%) scale(1) rotate(-3.6deg); /* rotate 속성은 유지되도록 설정 */
  }
  60% {
    transform: translate(-50%, -50%) scale(1) rotate(2.4deg); /* rotate 속성은 유지되도록 설정 */
  }
  75% {
    transform: translate(-50%, -50%) scale(1) rotate(-1.2deg); /* rotate 속성은 유지되도록 설정 */
  }
}

.artist-page-list li:hover .overlay {
  width: 200%;
  height: 200%;
  opacity: 0.8;
}

.artist-page-list li:hover .view-text {
  opacity: 1;
}

.artist-page-list li:hover .overlay {
  width: 200%;
  height: 200%;
  opacity: 0.8;
}

.artist-page-list li:hover .view-text {
  opacity: 1;
}

/* e 아티스트 페이지 */

/* s 아티스트 상세 페이지 */

/* s 아티스트 비주얼 영역 */
.visual-pic {
  position: relative;
  margin-top: 7rem;
}

.visual-pic img {
  display: block;
  width: 100%;
  height: auto;
}

.artist-visual figcaption {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.artist-name {
  font-size: 145px;
  font-weight: bold;
  white-space: nowrap;
  line-height: 1;
}

.artist-name.white {
  color: white;
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
}

.artist-name.black {
  color: black;
  position: absolute;
  bottom: -123px; /* adjust based on the height of the text */
  left: 50%;
  transform: translateX(-50%);
}

.debut-info {
  margin-top: 20px;
  display: flex;
  gap: 4rem;
}

.debut-info dt,
.debut-info dd {
  font-size: 2rem;
  font-weight: 700;
}
.debut-info dd {
  font-weight: 500;
  color: var(--text-color);
}
/* e 아티스트 비주얼 영역 */

/* s 멤버 영역 */
.member {
  margin-top: 10rem;
  padding: 9rem 0;
  /* background: skyblue; */
}

.member-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.member-list {
  /* background: #55f; */
  width: 65%;
  width: 986px;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 13rem;
  row-gap: 5.3rem;
  text-align: center;
  /* margin-left: 20rem; */
}
.member-list .mem-info {
  margin-top: 1.7rem;
  font-weight: 600;
}
.member-list .mem-info h4 {
  font-size: 2.5rem;
}
.member-list .mem-info strong {
  font-size: 1.7rem;
  line-height: 1;
  font-weight: 500;
  color: var(--main-color);
}
.member-list .mem-info p {
  font-size: 1.5rem;
  color: var(--text-color);
  /* margin-top: 1rem; */
  font-weight: 300;
}
/* e 멤버 영역 */

/* s 어워드 영역 */
.awards {
  padding: 9rem 0 15rem 0;
}

.awards-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.awards-wrap .sec-title {
  text-align: left;
}

.year-wrap {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 986px;
}

.year {
  display: flex;
  flex-wrap: wrap; /* 요소가 공간을 넘어가면 줄바꿈되게 함 */
  /* gap: 4rem; */
  width: 100%; /* 부모 요소의 전체 너비를 차지하게 함 */
  align-items: center;
  justify-content: space-between;
}

.donut {
  position: relative;
  width: 216px;
  height: 216px;
  border-radius: 50%;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.donut::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1;
}

.center-text {
  position: absolute;
  z-index: 2;
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

.year ul {
  display: block;
  /* donut의 너비와 gap을 제외한 나머지 공간 차지 */
  /* width: calc(100% - 216px - 4rem); */
  width: 676px;
  /* background: skyblue; */
}

.year ul li {
  margin-bottom: 15px;
}

.year ul li dl {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

.year ul li dl dt {
  font-size: 2rem;
  font-weight: 500;
}

.year ul li dl dd {
  font-size: 1.8rem;
  color: #5a5959;
}

/* e 어워드 영역 */
.album .sec-title {
  text-align: center;
}
/* e 아티스트 상세 페이지 */

/* Breakpoints for different screen sizes */

@media (max-width: 1598px) {
  .inner {
    width: 90.4rem;
    width: 88.28125%;
  }

  /* .sec-title {
    margin: 0 auto;
  } */
  /* .member-wrap {
    justify-content: center;
  } */
}
@media (max-width: 1565px) {
  .awards-wrap .sec-title {
    width: 100%;
  }
  .year {
    margin-top: 9rem;
  }
}
@media (max-width: 1444px) {
  .sec-title {
    width: 100%;
  }
  .member-wrap {
    justify-content: center;
  }
  .member-list {
    margin-top: 8rem;
    width: 100%;
    justify-content: space-between;
    /* gap: 9rem; */
  }
  .member-list li {
    margin-bottom: 5rem;
  }
}
@media (max-width: 1116px) {
  /* .member-list li {
    width: 170px;
    width: 20%;
  } */
  .view-text {
    font-size: 3rem;
  }
  .member-list {
    gap: 8.5rem;
  }

  .artist-name {
    font-size: 10rem;
  }
  .artist-name.white {
    bottom: -15px;
  }
  .artist-name.black {
    bottom: -85px;
  }

  .year ul {
    margin-top: 3rem;
  }
}
@media (max-width: 1010px) {
  .year {
    flex-direction: column;
  }

  .year ul {
    width: 100%; /* 작은 화면에서는 전체 너비를 차지하게 함 */
    margin-top: 2.8rem;
  }
}

@media (max-width: 1024px) {
  .gnb {
    display: none;
  }

  .artist-page-list li {
    width: calc(33.3% - 20px);
  }
  .artist-page-list {
    gap: 3rem;
  }

  /* 푸터 */
  .foot-wrap {
    flex-direction: column;
  }

  .foot-wrap ul {
    margin-top: 9.6rem;
  }
  .text-wrap {
    justify-content: space-between;
  }
  /*e 푸터 */
}
@media (max-width: 1014px) {
  .member-list {
    gap: 5%;
  }
  .member-list li {
    width: 28%;
  }
}

@media (max-width: 767px) {
  .artist-page-list li {
    width: calc(50% - 20px);
    margin-bottom: 10px;
  }
  .artist-page-list {
    gap: 4rem;
  }
  .member-list {
    gap: 3%;
  }
  .member-list li {
    width: 38%;
    /* width: 170px; */
  }

  .artist-name {
    font-size: 6rem;
  }
  .artist-name.white {
    bottom: -9px;
  }
  .artist-name.black {
    bottom: -51px;
  }
  .debut-info {
    flex-direction: column;
    gap: 0;
  }
  .debut-info dt,
  .debut-info dd {
    font-size: 1.6rem;
  }
}
@media (max-width: 650px) {
  .year ul li {
    margin-bottom: 3rem;
  }
  .year ul li dl {
    line-height: 1;
    gap: 0;
  }
  .year ul li dl dt {
    width: 100%;
  }
  .year ul li dl dd {
    margin-top: 1.3rem;
  }
  .year ul li dl dd b {
    display: block;
    margin-top: 7px;
  }
}

@media (max-width: 500px) {
  .sec-title {
    font-size: 3rem;
  }
  .artist-page-list li figure figcaption {
    font-size: 1.6rem;
  }
  .member {
    margin-top: 50px;
  }
  .member-list .mem-info h4 {
    font-size: 1.8rem;
  }
  .member-list .mem-info strong {
    font-size: 1.4rem;
  }
  .member-list .mem-info p {
    font-size: 1.3rem;
  }

  .text-wrap {
    flex-direction: column;
  }
  .foot-wrap ul {
    margin-top: 10rem;
  }
  .foot-wrap strong {
    width: 16.2rem;
    height: 5.8rem;
  }
}

@media (max-width: 397px) {
  .member-list li {
    width: 150px;
  }
}
